<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new user</title>
    <style>
        input, button {
            margin: 0.5rem;
        }
    </style>
</head>
<body>
    <form method="POST" action="/user/new">
        <input type="text" placeholder="Enter username" name="name">
        <br>
        <input type="email" placeholder="Enter email" name="email">
        <br>
        <input type="password" name="password" placeholder="Enter password">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>